.site-footer {
    padding: 35px 0;
    background-color: #333A44;
}

.site-footer__inner {
    display: flex;
    align-items: center;
}

.socials {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.socials__link {
    display: inline-block;
    text-decoration: none;

    &:not(:last-child) {
        margin-right: 24px;
    }
}

.socials__img {
    fill: #FCB72B;
    transition: all .2s ease;

    &:hover {
        fill: #E5ECF4;
    }
}