.services-small {
  padding: 0 0 370px;
  background-image:
      url('../../images/services-small.png');
  background-repeat: no-repeat;
  background-position:
      calc(50% + 530px) calc(50% + -55px);

}

.services-small__list {
  @include unlist;
}

.seritem-main {
  display: flex;
  justify-content: flex-start;

  &:nth-child(2) {
      justify-content: flex-end;
  }

  &:not(:last-child) {
      margin: 0 0 226px;
  }
}

.seritem-main__content {
  padding: 66px 0 0;
  width: 100%;
  max-width: 445px;
}

.seritem-main__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.seritem-main__text {
  margin: 0 0 40px;
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.mainbtn-services-small {
  padding: 14px 43px;
}


@media only screen and(max-width:786px) {
  .services-small {
      padding: 0 0 104px;
      background-image:
          url('../../images/services-small.png');
      background-repeat: no-repeat;
      background-position:
          center top;
  }

  .services-small__list {
      flex-direction: column;
      align-items: center;
  }

  .seritem-main {
      align-items: center;
      justify-content: center;

      &:nth-child(2) {
          justify-content: center;
      }

      &:not(:last-child) {
          margin-bottom: 150px;
      }
  }

  .seritem-main__content {
      padding: 470px 0 0;
      width: 100%;
      max-width: 573px;
      text-align: center;
  }

  .seritem-main__title {
      margin: 0 0 40px;
  }
}

@media only screen and(max-width:576px) {
  .services-small {
      padding: 0 0 120px;
      background-image:
          url('../../images/services-small_mobile.png');
      background-repeat: no-repeat;
      background-position:
          center top;
  }

  .seritem-main__content {
      padding: 350px 0 0;
      max-width: 311px;
  }

  .seritem-main__title {
      margin: 0 0 32px;
      font-size: 32px;
      line-height: 32px;
  }

}
