.services {
    padding: 0 0 370px;
    background-image:
        url('../../images/services-bg3.png');
    background-repeat: no-repeat;
    background-position:
        calc(50% + 530px) calc(50% + 450px);

}

.services__list {
    @include unlist;
}

.seritem {
    display: flex;
    justify-content: flex-start;

    &:nth-child(2) {
        justify-content: flex-end;
    }

    &:not(:last-child) {
        margin: 0 0 226px;
    }
}

.seritem__content {
    padding: 66px 0 0;
    width: 100%;
    max-width: 445px;
}

.seritem__title {
    margin: 0 0 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #495567;
}

.seritem__text {
    margin: 0 0 40px;
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.mainbtn-services {
    padding: 14px 43px;
}

@media only screen and(max-width:786px) {
    .services {
        padding: 0 0 104px;
        background-image: 
        url('../../images/services-bg_tablet.png'), 
        url('../../images/services-bg_tablet2.png'),
        url('../../images/services-bg3.png');
        background-repeat: no-repeat;
        background-position: 
        center top, 
        calc(50% - 80px) calc(50% - 220px),
        calc(50% + 273px) calc(50% + 700px);
    }

    .services__list {
        flex-direction: column;
        align-items: center;
    }

    .seritem {
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
            justify-content: center;
        }

        &:not(:last-child) {
            margin-bottom: 150px;
        }
    }

    .seritem__content {
        padding: 470px 0 0;
        width: 100%;
        max-width: 573px;
        text-align: center;
    }

    .seritem__title {
        margin: 0 0 40px;
    }
}

@media only screen and(max-width:576px) {
    .services {
        padding: 0 0 120px;
        background-image: url('../../images/services-bg_mobile.png');
        background-repeat: no-repeat;
        background-position: top calc(50% - 100px);
    }


    .seritem__content {
        max-width: 311px;
    }

    .seritem__title {
        margin: 0 0 32px;
        font-size: 32px;
        line-height: 32px;
    }

}